*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}
body{
    height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-image: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
}
button:hover{
cursor: pointer;
}
p{
    color: white;
    letter-spacing: .1rem;
}
/* Mobile rules */
.mobile-rules{
    display:none;
    min-height:100vh;
    min-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
#close-rules-button{
    display: none;
    position:absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
#close-rules-button button{
    border: none;
    background-color: transparent;
}
.container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 2rem;
}
  
/* Header */
.main-header{
    margin: 1rem;
    padding: 1rem 1.4rem 1rem 2rem;
    border: solid 2px hsl(217, 16%, 45%);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 65vw;
}
@media(min-width: 767px){
    .main-header{
    max-width: 700px;
}
}
.title{
    margin: 1rem 0;
}
#title-image{
    display: block;
    max-height: 100%;
}
.score{
    margin: auto 0;
    padding: .5rem 1.5rem;
    background-color: white;
    color:hsl(229, 64%, 46%);
    border-radius: 5px;
    max-height: 100%;
}
#score-text{
    font-size: .8rem;
    color: hsl(229, 25%, 31%);
}
#score{
    text-align: center;
    color: hsl(229, 25%, 31%);
    font-size: 3rem;
}

/* Main */
.main{
    background: center / contain no-repeat url('/images/bg-pentagon.svg');
    background-size: 270px;
    width: 100%;
    max-width: 400px;
    position: relative;
    height: 367px;
}
.choose-weapon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    position: absolute;
} 
.choose-weapon:before{
    content: '';
    width: 81px;
    height: 81px;
    border-radius: 50%;
    box-shadow: inset 0 3px 5px hsl(229deg 25% 31%);
    background: rgba(255, 255, 255, 1);
    position: absolute;
    z-index: 1;
    transition: background .3s ease, box-shadow .3s ease;
}

@media(min-width: 767px ){
.main{
    background-size: 340px;
    max-width: 700px;
    height: 467px;
}
.choose-weapon{
    width: 145px;
    height: 150px;
    border-radius: 50%;
} 
.choose-weapon:before{
    width: 115px;
    height: 115px;
}
}

.choose-weapon:hover {
    transform: scale(1.25);
    transition: 0.25s;
    cursor: pointer;
}
.choose-weapon img{
    position: relative;
    z-index: 2;
}
.choose-weapon.scissors{
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    box-shadow: 0px 6px 0px 0px hsl(28deg 75% 44%);
    top: 0;
    left: 149px;
}

.choose-weapon.spock{
    background: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    box-shadow: 0px 6px 0px 0px hsl(197deg 54% 36%);
    top: 100px;
    left: 10px;
}
.choose-weapon.paper{
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    box-shadow: 0px 6px 0px 0px hsl(229deg 62% 34%);
    top: 100px;
    right: 10px;
}
.choose-weapon.lizard{
    background: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    box-shadow: 0px 6px 0px 0px hsl(259deg 48% 38%);
    bottom: 5px;
    left: 63px;
}
.choose-weapon.rock{
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    box-shadow: 0px 6px 0px 0px hsl(343deg 70% 30%);
    bottom: 5px;
    right: 63px;
}
@media(min-width: 767px){
.choose-weapon.scissors{
    top: 0;
    left: 278px;
}
.choose-weapon.spock{
    top: 130px;
    left: 115px;
}
.choose-weapon.paper{
    top: 130px;
    right: 115px;
}
.choose-weapon.lizard{
    bottom: 0;
    left: 180px;
}
.choose-weapon.rock{
    bottom: 0;
    right: 178px;
}
}
    

/* Rules Button */
.rules{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#rules-button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: .5rem 2rem;
    letter-spacing: .3rem;
}
#rules-button:hover{
    color: hsl(229, 25%, 31%);
    border:solid 1px hsl(229, 25%, 31%);
}
#rules-button:active{
    color: hsl(229, 25%, 31%);
    border:solid 1px hsl(229, 25%, 31%);
    transform: translateY(4px);
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
}
@media(min-width:769px){
    #rules-button:active{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transform: translateY(4px);
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
}
}
/* Results*/
.results-container{
    display: flex;
    flex-direction: column;
}
.results{
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.playerResult .compResult{
    width: 25%;
}
.announce-winner{
    display: flex;
    flex-direction: column;
}